<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>

<div class="admin">
    <% include ../partials/sidebar.ejs %>

    <!-- Admin Main Area CSS -->

    <div class="admin_main">

        <div class="alert alert-dismissible fade show signed_alart" role="alert">
            <img src="/resources/images/icons/green-tic.png" alt="img"/>
            Signed in successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="admin_title_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Collections</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_collection_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$25 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$50 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$75 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$100 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$150 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>$200 Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>Luxe Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="admin_collection_item">
                            <img src="/resources/images/collection.png" alt="img"/>
                            <h5>Ipsum Collection</h5>
                            <button type="button" class="btn common_btn">VIEW COLLECTION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <% include ../partials/footer.ejs %>

</div>

<% include ../partials/foot.ejs %>

<script>

</script>

</body>
</html>
