<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>

<div class="admin">
    <% include ../partials/sidebar.ejs %>

    <!-- Admin Main Area CSS -->

    <div class="admin_main">

        <div class="alert alert-dismissible fade show signed_alart" role="alert">
            <img src="/resources/images/icons/green-tic.png" alt="img"/>
            Signed in successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="admin_title_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Activity</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_activity_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>1,593</h3>
                            <p> <img src="/resources/images/icons/eye.png" alt="img"/> GIFTS VIEWED</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>127</h3>
                            <p> <img src="/resources/images/icons/gift.png" alt="img"/> GIFTS REDEEMED</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="admin_activity_box">
                            <h3>1,268</h3>
                            <p> <img src="/resources/images/icons/invite.png" alt="img"/> INVITES SENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin_pastOrder_area">
            <div class="container-fluid">
                <div class="admin_subtitle">
                    <h4>Past orders</h4>
                </div>
                <div class="pastorder_item">
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td class="order_info">
                                6:20 AM EDT, APRIL 14, 2020
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/products/p1.png" alt="icon" /> Don Javier Handcrafted Briefcase
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/hart-3.png" alt="icon" />
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/user.png" alt="icon" /> Zain Torff
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="pastorder_item">
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td class="order_info">
                                6:20 AM EDT, APRIL 14, 2020
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/products/28.png" alt="icon" /> Don Javier Handcrafted Briefcase
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/hart-3.png" alt="icon" />
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/user.png" alt="icon" /> Zain Torff
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="pastorder_item">
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td class="order_info">
                                6:20 AM EDT, APRIL 14, 2020
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/products/p1.png" alt="icon" /> Don Javier Handcrafted Briefcase
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/hart-3.png" alt="icon" />
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/user.png" alt="icon" /> Zain Torff
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="pastorder_item">
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                            <td class="order_info">
                                6:20 AM EDT, APRIL 14, 2020
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/products/28.png" alt="icon" /> Don Javier Handcrafted Briefcase
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/hart-3.png" alt="icon" />
                            </td>
                            <td class="order_info">
                                <img class="order_product_img" src="/resources/images/icons/user.png" alt="icon" /> Zain Torff
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <% include ../partials/footer.ejs %>

</div>

<% include ../partials/foot.ejs %>

<script>

</script>

</body>
</html>
