<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<!--thankYou_area Area Start -->
<section class="thankYou_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/resources/images/icons/globe.png" alt="icon"/>
                <h2>
                    Thank you <span>for</span> doing good!
                </h2>
            </div>
        </div>
    </div>
</section>
<!--thankYou_area Area Start -->

<section class="order_placed_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Your order has been placed.
                </h4>
                <p>
                    Our gifting concierge will email you soon to schedule a time to review your gift(s) together.
                    <br/>
                    In the meantime, learn more about our story and mission by <a href="#" class="has_border">watching our feature on the TODAY Show!</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!--Down Banner Area Start -->
<div class="down_banner_5"></div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

<script type="text/javascript">
    let gift = <%- JSON.stringify(gift) %>

    if (gift['_products'].length) {
        $('#cart-badge').show();
        $('#cart-badge').html(gift['_products'].length);
    } else {
        $('#cart-badge').hide();
    }

	$('#complete-collection').on('click', function() {
		if (gift && gift['_id']) {
			window.location.href = '/step2?gid=' + gift['_id'];
		}
	});
</script>
</body>
</html>
