<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<div class="step_2_area">
    <section class="title_area">
        <div class="container">
            <h2>
                RECIPIENT INFORMATION
            </h2>
            <p class="step_2_txt_1">
                Please add or import the names, email addresses, and
                <br/>
                company names of your gift recipients from a CSV file
            </p>
            <p class="step_2_txt_2">
                Please enter the name and email of your gift recipient(s).
            </p>
        </div>
    </section>

    <!--Area Start -->

    <section class="step_information_area">
        <div class="add_title">
            <div class="container">
                <h3><img src="/resources/images/icons/add.png"/> Add Contacts</h3>
            </div>
        </div>
        <div class="step_information_boxes">
            <div class="container side_box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="step_information_item information_form_box">
                            <div class="step_information_item_box">
                                <img src="/resources/images/icons/contacts.png"/>
                                <h4>TYPE IN CONTACTS</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="step_information_item information_contact_box">
                            <div class="step_information_item_box">
                                <img src="/resources/images/icons/file.png"/>
                                <h4>IMPORT FROM FILE</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--information contact Area Start -->

    <section class="information_contact_area">
        <div class="add_title">
            <div class="container">
                <h3><img src="/resources/images/icons/file-2.png"/> Import Contacts From File</h3>
            </div>
        </div>
        <div class="container side_box">
            <div class="row">
                <div class="col-md-12">
                    <div class="choose_file_box">
                        <div class="csv-content-area" style="display: none;">
                            <div class="csv-content-section">
                                <table class="table table-bordered table-hover" id="csv-content-table">
                                    <thead>
                                    <th>No</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Company</th>
                                    <th>Email</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="drag_area">
                            <div class="drag_area_content">
                                <img src="/resources/images/icons/drag-file.png"/>
                                <h5 class="mobile_none">Choose a file or drag and drop it here</h5>
                                <h5 class="desktop_none">Upload a file</h5>
                                <p>(maximum number of rows per file is 1,000)</p>
                            </div>
                            <div class="drag_choose_field">
                                <input type="file" class="form-control-file" id="contact-csv-file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="csv_btn">
                        <a href="http://159.65.181.178/resources/csv/contact_template.csv">
                            <button type="button" class="btn">Download Example CSV</button>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="step_buttons_area">
                        <ul>
                            <li>
                                <div class="preview_here">
                                    <a><img src="/resources/images/icons/question.png"/> <span style="border: none; color: #7B7B7B !important;">Help</span></a>
                                    <div class="preview_hover_view">
                                        <p class="mobile_none">
                                            Import contact information from file. File type should be csv format. You can see the example csv file on the left link.
                                        </p>
                                        <h5 class="mobile_none">Scelerisque aleget aenean..</h5>
                                        <p class="desktop_none">
                                            Import contact information from file. File type should be csv format. You can see the example csv file on the left link.
                                        </p>
                                        <h5 class="desktop_none"><span>Show more</span></h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="btn common_btn nextstep_btn">NEXT</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="GoBack_link">
                        <a href="#">
                            <img src="/resources/images/icons/arrow-1.png"/> Go back and type in contacts manually
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--information Form Area Start -->

    <section class="information_form_area">
        <div class="add_title">
            <div class="container">
                <h3><img src="/resources/images/icons/contacts-2.png"/> Contact Information</h3>
            </div>
        </div>
        <div class="container side_box">
            <div class="row">
                <div class="col-md-12">
                    <div class="information_form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="first-name">FIRST NAME(*)</label>
                                    <input type="text" class="form-control" id="first-name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="last-name">LAST NAME(*)</label>
                                    <input type="text" class="form-control" id="last-name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="company-name">COMPANY NAME(*)</label>
                                    <input type="text" class="form-control" id="company-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">EMAIL ADDRESS(*)</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mobile_none">
                    <div class="GoBack_link">
                        <a href="#">
                            <img src="/resources/images/icons/arrow-1.png"/> Go back and import contacts from file
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="step_buttons_area">
                        <ul>
                            <li>
                                <a id="add-second-contact" style="cursor: pointer;"><img src="/resources/images/icons/add-small.png"/> <span>ADD CONTACT</span></a>
                            </li>
                            <li>
                                <button type="button" class="btn common_btn nextstep_btn">NEXT</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 desktop_none">
                    <div class="GoBack_link">
                        <a href="#">
                            <img src="/resources/images/icons/arrow-1.png"/> Go back and import contacts from file
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Down Banner Area Start -->

    <div class="down_banner_2">
    </div>

</div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

<script>
    let gift = <%- JSON.stringify(gift) %>
    let contact_list = [];

    if (gift['_products'].length) {
        $('#cart-badge').show();
        $('#cart-badge').html(gift['_products'].length);
    } else {
        $('#cart-badge').hide();
    }

    $('.backstep_btn').on('click', function() {
        window.location.href = '/step1?gid=' + gift['_id'];
    });

    function get_manually_inputted_contact_list() {
        contact_list = [];
        $('.information_form_area .information_form div.row').each(function() {
            const first_name = $(this).find('#first-name').val();
            const last_name = $(this).find('#last-name').val();
            const company_name = $(this).find('#company-name').val();
            const email = $(this).find('#email').val();
            contact_list.push({ first_name, last_name, company_name, email });
        });
    }

    $('.nextstep_btn').on('click', function() {
        if ($('.step_2_area').hasClass('information_form_open')) {
            get_manually_inputted_contact_list();
        } else if ($('.step_2_area').hasClass('information_contact_open')) {

        }

    	if (contact_list.length) {
            $.ajax({
                url: '/step2/add-information',
                method: 'post',
                data: {
                	gid: gift['_id'],
                    contacts: contact_list
                },
                success: function (res) {
                    console.log(res);
                    window.location.href = '/step3?gid=' + gift['_id'];
                },
                error: function (jqXHR, exception) {
                    console.log(exception);
                    alert('Invalid operation');
                }
            });
        } else if (gift['contacts'].length) {
            window.location.href = '/step3?gid=' + gift['_id'];
        } else {
    		alert('Please input exact contact information');
        }
    });
    $('.GoBack_link > a').on('click', function() {
        $('.step_2_area').removeClass('information_contact_open');
        $('.step_2_area').removeClass('information_form_open');
    })

    $('#add-second-contact').on('click', function () {
        let html = '<div class="form_devider"></div><div class="row">\n' +
            '                            <div class="col-md-4">\n' +
            '                                <div class="form-group">\n' +
            '                                    <label for="first-name">FIRST NAME(*)</label>\n' +
            '                                    <input type="text" class="form-control" id="first-name">\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <div class="col-md-4">\n' +
            '                                <div class="form-group">\n' +
            '                                    <label for="last-name">LAST NAME(*)</label>\n' +
            '                                    <input type="text" class="form-control" id="last-name">' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <div class="col-md-4">\n' +
            '                                <div class="form-group">\n' +
            '                                    <label for="company-name">COMPANY NAME(*)</label>\n' +
            '                                    <input type="text" class="form-control" id="company-name">\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                            <div class="col-md-12">\n' +
            '                                <div class="form-group">\n' +
            '                                    <label for="email">EMAIL ADDRESS(*)</label>\n' +
            '                                    <input type="email" class="form-control" id="email">\n' +
            '                                </div>\n' +
            '                            </div>\n' +
            '                        </div>';
            $('.information_form').append(html);
    })

    // When upload with csv file
    $('#contact-csv-file').on('change', function(evt) {
        if (!evt.target.files.length) {
            return;
        }
        let reader = new FileReader();
        reader.onload = function () {
            $('.csv-content-area').css('display', 'block');
            $('.drag_area').css('display', 'none');

            const record_num = 4;
            const allTextLines = reader.result.split(/\r\n|\n|\r/);

            console.log(reader.result);
            console.log(allTextLines);

            let html = '';
            contact_list = [];
            // Except header lines
            for (let i = 1; i < allTextLines.length; i++) {
                const data = allTextLines[i].split(',');
                if (data.length === record_num) {
                    const first_name = data[0];
                    const last_name = data[1];
                    const company_name = data[2];
                    const email = data[3];
                    if (!first_name || !last_name || !company_name || !email) {
                        continue;
                    }
                    contact_list.push({ first_name, last_name, company_name, email });
                    html += '<tr><td>' + i + '</td>'
                        + '<td>' + first_name + '</td>'
                        + '<td>' + last_name + '</td>'
                        + '<td>' + company_name + '</td>'
                        + '<td>' + email + '</td>'
                        + '</tr>';
                }
            }
            if (html) {
                $('.csv-content-section #csv-content-table > tbody').append(html);
            }
        }
        reader.readAsBinaryString(evt.target.files[0]);
    })

</script>

</body>
</html>
