<!-- Header Area Start -->

<% if (page_title === 'gift-note') { %>
<header class="note_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="/resources/images/logo-g.png"/></a>
                <h2>Where should we send <span>your</span> gift?</h2>
            </div>
        </div>
    </div>
</header>
<% } else if (page_title === 'gift-note-thank') { %>
<header class="note_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#"><img src="/resources/images/logo-g.png"/></a>
                <h2>THANK YOU <span>for</span> DOING GOOD!</h2>
                <p>We will send you an email when your gift ships.</p>
            </div>
        </div>
    </div>
</header>
<% } else { %>
<header class="site_header">
    <div class="container-fluid">
        <% if (page_type === 'gift-step-page') { %>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand logo_main" href="#"><img src="/resources/images/logo.png" alt="logo"/></a>

                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <% if (page_title === 'gift-it-forward') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="/resources/images/icons/buy.png" alt="icon"/>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn getintouch_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    GET IN TOUCH
                                </button>
                                <div class="dropdown-menu dropdown-menu-right get_dropdown">
                                    <div class="dropdown_gift_option">
                                        <div class="dropdown_gift_option_box">
                                            Your Gift Options
                                            <button type="button" class="btn gift_close close">
                                                <img src="/resources/images/icons/close.png" alt="icon"/>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="dropdown_gift_list">
                                        <ul>
                                            <% for (let i = 0; i < gift.products.length; i++) { %>
                                                <li>
                                                    <div class="gift_list_img">
                                                        <div class="gift_list_img_box">
                                                            <img src="<%= gift.products[i]["Image Src"] %>" alt="img"/>
                                                        </div>
                                                    </div>
                                                    <div class="gift_list_txt">
                                                        <%= gift.products[i]["Title"] %>
                                                    </div>
                                                    <div class="gift_list_number">1</div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="dropdown_gift_btn">
                                        <button type="button" class="btn complete-collection">COMPLETE THE COLLETION</button>
                                    </div>
                                    <div class="dropdown_gift_footer">
                                        Great! You already have <b>free shipping</b>.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% } else if (page_title !== 'confirmed-order') {
                        	var caption = page_title === 'recipient-information' ? 'BACK TO STEP 1'
                                        : page_title === 'brand-message' ? 'BACK TO STEP 2'
                                        : page_title === 'confirm-details' ? 'BACK TO STEP 3'
                                        : '';
                        %>
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn backstep_btn">
                                    <%= caption %>
                                </button>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        <% } else if (page_title === 'collections') { %>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand google_logo" href="#"><img src="/resources/images/google.png" alt="Google logo"/></a>
                <a class="navbar-brand logo_main" href="#"><img src="/resources/images/logo.png" alt="logo"/></a>
            </nav>
        <% } else if (page_title === 'single-product' || page_title === 'product-detail') { %>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand logo_main" href="#"><img src="/resources/images/logo.png" alt="logo"/></a>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <div class="btn-group">
                                <button type="button" class="btn getintouch_btn" id="backto-gifts">
                                    BACK TO GIFTS
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        <% } %>
    </div>
</header>
<% } %>

<!--Step Area Start -->
<% if (page_type === 'gift-step-page' && page_title !== 'confirmed-order') { %>
<section class="step_area">
    <div class="container-fluid">
        <div class="step_lavel_bg">
            <div class="step_lavel_over
                            <%= page_title === 'gift-it-forward' ? 'step_lavel_over_1'
                                : page_title === 'recipient-information' ? 'step_lavel_over_2'
                                : page_title === 'brand-message' ? 'step_lavel_over_3'
                                : 'step_lavel_over_4' %>"></div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="step_item step_active">
                    <h4>STEP 1</h4>
                    <p>Gift</p>
                </div>
            </div>
            <div class="col-3">
                <div class="step_item">
                    <h4>STEP 2</h4>
                    <p>Recipient</p>
                </div>
            </div>
            <div class="col-3">
                <div class="step_item">
                    <h4>STEP 3</h4>
                    <p>Brand <br/> & Message</p>
                </div>
            </div>
            <div class="col-3">
                <div class="step_item">
                    <h4>STEP 4</h4>
                    <p>Confirm</p>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>