<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gift for Food</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/logo-g.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">

    <!-- Font Awsome CSS -->
    <link rel="stylesheet" href="/resources/fonts/font-awsome/font-awsome-v5.7.2.css">

    <!-- slick-carousel CSS -->
    <link rel="stylesheet" href="/resources/css/slick.css">
    <link rel="stylesheet" href="/resources/css/slick-theme.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <% if (page_type === 'client-dashboard-page' || page_type === 'client-auth-page') { %>
    <link rel="stylesheet" href="/resources/css/admin.css">
    <% } %>
    <link rel="stylesheet" href="/resources/css/responsive.css">
</head>
