<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gifts for Good</title>

    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/1826/6559/t/39/assets/favicon.ico?v=16356079263907087773" type="image/png" />
    <!--<meta name="google-site-verification" content="ZZTrOjJJMpppd2QIA9uPwd9tBo-xnwRmQcnsOFRlwyk" />-->
    <meta name="google-site-verification" content="-vVPSpOBoRtr2tB5QCyDN_hNa8WlTf2LJ8AbG4sy3bM" />
    <link rel="apple-touch-icon" href="//cdn.shopify.com/s/files/1/1826/6559/t/39/assets/apple-touch-icon.png?v=12870369883046899446" sizes="180x180">
    <link rel="icon" type="image/png" href="//cdn.shopify.com/s/files/1/1826/6559/t/39/assets/favicon-32x32.png?v=7112285418742386527" sizes="32x32">
    <link rel="icon" type="image/png" href="//cdn.shopify.com/s/files/1/1826/6559/t/39/assets/favicon-16x16.png?v=2553693186377795305" sizes="16x16">
    <link rel="mask-icon" href="//cdn.shopify.com/s/files/1/1826/6559/t/39/assets/safari-pinned-tab.svg?v=6282356742563039192" color="#5bbad5">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">

    <!-- Font Awsome CSS -->
    <link rel="stylesheet" href="/resources/fonts/font-awsome/font-awsome-v5.7.2.css">

    <!-- slick-carousel CSS -->
    <link rel="stylesheet" href="/resources/css/slick.css">
    <link rel="stylesheet" href="/resources/css/slick-theme.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <% if (page_type === 'client-dashboard-page' || page_type === 'client-auth-page') { %>
    <link rel="stylesheet" href="/resources/css/admin.css">
    <% } %>
    <link rel="stylesheet" href="/resources/css/responsive.css">
</head>
