<div class="admin_sitebar">

    <div class="sitebar_logo">
        <a href="#">
            <img src="/resources/images/logo.svg"/>
        </a>
    </div>

    <div class="sitebar_nav">
        <ul>
            <li class="<%= page_title === 'client-dashboard' ? 'active' : '' %>">
                <a  href="/dashboard">Collections</a>
            </li>
            <li class="<%= page_title === 'client-gifts' ? 'active' : '' %>">
                <a  href="/gifts">Gifts</a>
            </li>
            <li class="<%= page_title === 'client-activity' ? 'active' : '' %>">
                <a  href="/activity">Activity</a>
            </li>
            <li class="<%= page_title === 'client-users' ? 'active' : '' %>">
                <a  href="/users">Users</a>
            </li>
        </ul>
    </div>

    <div class="sitebar_btn">
        <a href="/step1" target="_blank">
            <button type="button" class="btn common_btn" id="create-collection">+ CREATE COLLECTION</button>
        </a>
    </div>

    <div class="sitebar_setting">
        <ul>
<!--            <li>-->
<!--                <a  href="#"><img src="/resources/images/icons/setting.png" alt="icon"/>Settings</a>-->
<!--            </li>-->
            <li>
                <a  href="/logout"><img src="/resources/images/icons/logout.png" alt="icon"/>Logout</a>
            </li>
        </ul>
    </div>
</div>

<div class="alert alert-bar alert-success text-center" id="alert-bar" style="margin-left: 230px;">
    <strong id="alert-title"></strong> <span id="alert-content"></span>
</div>
