<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<section class="hero_slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero_slider_img">
                    <img src="/resources/images/hero_bg_8.png" class="d-block w-100" alt="img">
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero_slider_img">
                    <img src="/resources/images/hero_bg_7.png" class="d-block w-100" alt="img">
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero_slider_img">
                    <img src="/resources/images/hero_bg_6.png" class="d-block w-100" alt="img">
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero_slider_img">
                    <img src="/resources/images/hero_bg_5.png" class="d-block w-100" alt="img">
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero_slider_img">
                    <img src="/resources/images/hero_bg_4.png" class="d-block w-100" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>


<!--Product Area Start -->

<section class="product_area collections_product_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/1.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Troubadour Wireless Headphones In Zebra</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/2.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Zebra Wood <br/> Bowery Earbuds</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/3.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>The Gramercy <br/> Wireless Speaker</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/4.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>The Office Cup</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ Haitian Artisans
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/21.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Wise Owl’ <br/> Wood Eyeglasses Holder</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support Rural <br/> Economic Development
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/22.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Satellite Speaker <br/> In Zebra</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/23.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Thai Teakwood <br/> Phone Speaker</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support Rural <br/> Economic Development
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/24.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Haiti Made Plates <br/> Under The Cup</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ Haitian Artisans
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/5.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Mari Backpack</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ Ethiopian Artisans
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/6.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Coban Backpack</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Help Eradicate Poverty
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/7.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Cord Traveler</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/child.png" alt="img"/> Educate Children In Honduras
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/8.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Nazca Corporate <br/> Travel Pack</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Provide Grants To Nonprofits Alleviating Poverty
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/25.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Zion Repurposed <br/> Billboard Fanny Pack</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/tree.png" alt="img"/> Help the environment
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/26.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Traveler Gift Set</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/child.png" alt="img"/> Educate Children In Honduras
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/27.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Cord Traveler Capa Vacuum <br/> Travel Bottle</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Help Eradicate Poverty
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/28.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Presidio Laptop Sleeve <br/> - 15 Inch</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ Haitian Artisans
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/9.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Handmade Wood <br/> Business Card Holder</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/10.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Water Filter <br/> Glass Carafe</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/child.png" alt="img"/> Educate eloa nemor guneavi
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/11.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Leather Business <br/> Card Holder</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help aneo melora negus
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/12.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Gratitude Burmese Candle</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ dolor amet deloa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/29.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Dosye <br/> Handcrafted Portfolio</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support enua nemor seoname vigao nert vigaso neo nevir
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/30.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Adventure Snap Journal</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help voname leogre visa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/31.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Mini Cutting Board</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support lorem ipsum dolor <br/> amet nelora mego nergo
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/12.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Eyob Pencil Case</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/tree.png" alt="img"/> Help stranome nesteoma
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/13.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Libero Fusce Sed <br/> Odio Odio Scelerisque</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/child.png" alt="img"/> Educate eloa nemor guneavi
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/14.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Feugiat Elit Nunc Turpis</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/15.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Habitasse Lacinia Purus</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ dolor amet deloa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/16.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Platea Egestas Nemorea <br/> Seora Yuam Non</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help aneo melora negus
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/33.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Dictumst at Mortor Erna Tnim Sapien Nuis</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support enua nemor seoname vigao nert vigaso neo nevir
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/34.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Mi Purus Sero Inae <br/> Eleifend Utero</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support lorem ipsum dolor <br/> amet nelora mego nergo
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/35.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Nisi Felis Utmae</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help voname leogre visa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/36.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Dignissima Neuro Viga</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/tree.png" alt="img"/> Help stranome nesteoma
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/17.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Feugiat Elit Nunc Turpis</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help someone hear
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/18.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Libero Fusce Sed <br/> Odio Odio Scelerisque</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/child.png" alt="img"/> Educate eloa nemor guneavi
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/19.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Platea Egestas Nemorea Seora Yuam Non</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help aneo melora negus
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/20.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Habitasse Lacinia Purus</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Employ dolor amet deloa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/37.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Dictumst at Mortor Erna Tnim Sapien Nuis</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support enua nemor seoname vigao nert vigaso neo nevir
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/38.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Nisi Felis Utmae</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/hart.png" alt="img"/> Help voname leogre visa
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/39.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Dignissima Neuro Viga</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/chart.png" alt="img"/> Support lorem ipsum dolor <br/> amet nelora mego nergo
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_item">
                    <div class="product_img">
                        <img src="/resources/images/products/40.png" alt="img"/>
                    </div>
                    <div class="product_info">
                        <div class="product_title">
                            <h4>Mi Purus Sero Inae <br/> Eleifend Utero</h4>
                        </div>
                        <p>
                            <img src="/resources/images/icons/tree.png" alt="img"/> Help stranome nesteoma
                        </p>
                        <button type="button" class="btn product_btn">CHOOSE THIS GIFT</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="product_showmore">
                    <button type="button" class="btn">SHOW MORE</button>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="down_banner_7"></div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
