<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<!--Note Sub title Area Start -->

<!--Note Sub title Area Start -->

<section class="note_title_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Want to say thanks to your recipient for helping people and the planet through your gift? <span>Write a note below.</span>
                </p>
            </div>
        </div>
    </div>
</section>

<!--Note Sub title Area Start -->

<section class="note_massege_area">
    <div class="container side_box_2">
        <div class="row">
            <div class="col-md-12">
                <div class="massege_box">
                    <textarea class="form-control" rows="3" placeholder="Send Google a thank you note."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="note_massege_btn_area">
            <button type="button" class="btn common_btn">SEND THANK YOU NOTE</button>
        </div>
    </div>
</section>

<div class="down_banner_6"></div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
