<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<!--Note Sub title Area Start -->

<!--Note Sub title Area Start -->

<section class="note_title_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Want to say thanks to your recipient for helping people and the planet through your gift? <span>Write a note below.</span>
                </p>
            </div>
        </div>
    </div>
</section>

<!--Note Sub title Area Start -->

<section class="note_massege_area">
    <div class="container side_box_2">
        <div class="row">
            <div class="col-md-12">
                <div class="massege_box">
                    <textarea class="form-control" rows="3" id="thank-note" placeholder="Send Google a thank you note."><%= gift['thank_note'] %></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="note_massege_btn_area">
            <button type="button" class="btn common_btn" id="send_thank_note">SEND THANK YOU NOTE</button>
        </div>
    </div>
</section>

<div class="down_banner_6"></div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

<script type="text/javascript">
    let gift = <%- JSON.stringify(gift) %>

    $('#send_thank_note').on('click', function() {
    	const thank_note = $('#thank-note').val();
        $.ajax({
            url: '/add-thank-note',
            type: 'post',
            data: { gid: gift['_id'], thank_note: thank_note },
            success: function (res) {
            },
            error: function (jqXHR, exception) {
            	console.log(exception);
            	alert('Invalid operation');
            }
        })
    });
</script>
</body>
</html>
