<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<!--Note Sub title Area Start -->

<section class="note_form_area">
    <div class="container side_box_2">
        <div class="row">
            <div class="col-md-4">
                <div class="note_form_item">
                    <div class="note_form_item_box">
                        <img src="/resources/images/gifts/7.png" alt="img"/>
                    </div>
                    <p>Don Javier Handcrafted Briefcase </p>
                    <h5>Your Gift for Good supporting <img src="/resources/images/icons/hart.png" alt="img"/> </h5>
                </div>


            </div>
            <div class="col-md-8">
                <div class="information_form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name">FIRST NAME</label>
                                <input type="text" class="form-control" id="first-name" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last-name">LAST NAME</label>
                                <input type="text" class="form-control" id="last-name" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form_devider"></div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>ADDRESS</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>SUITE / APARTMENT</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>CITY</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 mobile_60">
                            <div class="form-group">
                                <label>STATE</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 mobile_40">
                            <div class="form-group">
                                <label for="last-name">ZIP CODE</label>
                                <input type="text" class="form-control" id="last-name" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form_devider"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group email_address">
                                <label>EMAIL ADDRESS</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group phone_number">
                                <label>PHONE NUMBER</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="note_confirm_btn_area">
            <button type="button" class="btn common_btn">CONFIRM</button>
        </div>
    </div>
</section>

<div class="down_banner_5"></div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
